:root{

    /* Backgrounds */
    --color-dark-bg: #0B0B0B;
    --color-light-bg: #F7F7F5;

     /* Base Colors */
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-heading-light: #111111;

    /* Body Text */
    --color-text-dark: #B8B8B8;
    --color-text-light: #A7ADB5;

    /* Accent */
    --color-accent: #FF5A1F;
    --color-accent-hover: #E94A12;

    /* Borders */
    --color-border-dark: rgba(255,255,255,.3);
    --color-border-light: #E5E5E5;

    /* Fonts */
    --font-primary: "Inter", sans-serif;
    --font-heading: "Manrope", sans-serif;    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    font-family: var(--font-primary);
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, h2, h3, h4{
    font-family: var(--font-heading);
}

h2{
    font-size: 30px;
}

h3{
    font-size: 22px;
}

a{
    text-decoration: none;
}

p{
    font-size: 14px;
}

.btn{
    display: inline-flex;
    align-items: center;
    gap: 12px;    
    background-color: var(--color-accent);
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .03em;
    padding: 12px 18px;
    transition: background-color 0.3s ease;
}

.btn i{
    transition: transform 0.3s ease;
}

.btn:hover{
    background-color: var(--color-accent-hover);
}

.btn:hover i{
    transform: translateX(5px);
}

.section-padding{
    padding: 60px 0;
}

.section-padding .container{
    flex-direction: column;
}

.section-header{
    margin-bottom: 45px;
    text-align: center;
    max-width: 650px;
}

.section-label{
    display: inline-block; 
    margin-bottom: 18px; 
    font-size: 12px; 
    font-weight: 700; 
    letter-spacing: 2px; 
    color: var(--color-accent);
    text-transform: uppercase;
}

.section-header h2{   
    margin: 0 auto 20px;
    line-height: 1.05; 
    letter-spacing: -2px; 
    font-weight: 700;
}

.section-header h2 span{
    color: var(--color-accent);
}

/* Tablet Responsive */
@media only screen and (min-width: 768px){
    .container{
        padding: 0 30px;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 24px;
    }

    p{
        font-size: 15px;
    }

    .section-padding{
        padding: 80px 0;
    }
}

/* Desktop Responsive */
@media only screen and (min-width: 1200px){
    .container{
        padding: 0 40px;
    }

    .section-padding{
        padding: 100px 0;
    }

    h2{
        font-size: 48px;
    }

    h3{
        font-size: 26px;
    }

    .section-header{ 
        margin-bottom: 65px; 
    }  
}